---
layout: archive
title: "Projects 🚀"
permalink: /projects/
author_profile: true
---
<style>
    .projects-section {
        background: #f9f9f9;
        padding: 50px;
        border-radius: 15px;
        margin-bottom: 50px;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
        color: #333;
    }

    .project-title {
        color: #2c3e50;
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 10px;
        transition: color 0.3s ease-in-out;
        text-decoration: none;
    }

    .project-title:hover {
        color: #f39c12;
    }

    .project-description, .project-technologies {
        font-weight: bold;
        color: #2c3e50;
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .project-details, .project-skills {
        color: #34495e;
        font-size: 1.1em;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .project-icon {
        font-size: 2.2em;
        color: #f39c12;
        margin-right: 15px;
        transition: transform 0.3s ease-in-out;
    }

    .project-container {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 12px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .project-container:hover {
        transform: translateY(-12px);
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    }

    .project-icon:hover {
        transform: scale(1.2);
    }
</style>

<div class="projects-section">

    <div class="project-container">
        <span class="project-icon">⚙️</span>
        <a href="https://github.com/negaranabestani/fed-flow" target="_blank" class="project-title">FedFlow</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Developed a federated learning framework for decentralized model training on edge networks, optimizing resource usage and reducing latency through split learning and edge node communication.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">PyTorch, RabbitMQ</p>
    </div>

    <div class="project-container">
        <span class="project-icon">🔐</span>
        <a href="https://github.com/SabaSahban/cloud-identity-verification-system" target="_blank" class="project-title">Cloud-Based Identity Verification System</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Designed a cloud-based system using microservices for secure user request processing and facial recognition for identity verification.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">S3, PostgreSQL, RabbitMQ</p>
    </div>

    <div class="project-container">
        <span class="project-icon">🌦</span>
        <a href="https://github.com/SabaSahban/cache-based-cloud-weather-app" target="_blank" class="project-title">Cache-Based Cloud Weather Service</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Built a scalable weather service using Docker and Kubernetes, integrating Redis for caching weather data and ensuring high availability.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">Docker, Kubernetes, Redis</p>
    </div>

    <div class="project-container">
        <span class="project-icon">📈</span>
        <a href="https://github.com/SabaSahban/cloud-computing-final-project" target="_blank" class="project-title">Kubernetes HTTP Monitoring System</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Developed a system monitoring tool using Docker and Kubernetes with HPA for automatic scaling and health checks.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">Docker, Kubernetes, Helm</p>
    </div>

    <div class="project-container">
        <span class="project-icon">🧬</span>
        <a href="https://github.com/SabaSahban/distributed-algorithms-mapreduce-spark" target="_blank" class="project-title">Distributed Algorithms Implementation</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Implemented Dijkstra’s shortest path and PageRank using MapReduce on Hadoop, and analyzed the E. coli genome with PySpark.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">MapReduce, Spark</p>
    </div>

    <div class="project-container">
        <span class="project-icon">💻</span>
        <a href="https://github.com/SabaSahban/database-design-final-project" target="_blank" class="project-title">Database Design Project: Banking Web Application</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Developed a banking web application with transaction logging and user account management using SQL.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">SQL, HTML, CSS</p>
    </div>

    <div class="project-container">
        <span class="project-icon">🔐</span>
        <a href="https://github.com/SabaSahban/cybersecurity-tools" target="_blank" class="project-title">Cybersecurity Tools Development</a>
        <p class="project-description">Description:</p>
        <p class="project-details">
            Built a network scanner for detecting machines and services and a password manager with encryption features.
        </p>
        <p class="project-technologies">Technologies:</p>
        <p class="project-skills">Python</p>
    </div>

</div>

{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}